@page "/"

<h1>Blazor Icon</h1>
<h2 class="pl-5">by <img src="mobsites-logo.png" width="42" height="42" />obsites</h2>
<br />

<Icon Variant="home" Size="Icon.Sizes.XS" /><Icon Variant="home" Size="Icon.Sizes.SM" /><Icon Variant="home" Size="Icon.Sizes.LG" /><Icon Variant="home" Size="Icon.Sizes.XL" />